/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
.rebel_readline_history
*.jar
*.class
/.lein-*
/.nrepl-port
/out
/.repl
*.log
/.env
/.sass-cache
/.clj-kondo/.cache
node_modules
.history
resources/public/js/compiled
certs/*
!certs/.gitkeep
!certs/*.md
test-server
dist
site/css
site/js
!site/index.html
!site/manifest.webmanifest
!site/img
!site/favicon.ico
.lsp
.calva/output-window
